<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card material-shadow rounded-lg">
                    <div class="card-header">Login</div>

                    <div class="card-body">
                        <form method="POST" :action="route_login">

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" :class="email_error ? 'is-invalid' : false" class="form-control" name="email" :value="old_email" required autocomplete="email" autofocus>

                                    <span v-if="email_error" class="invalid-feedback" role="alert">
                                        <strong>{{ JSON.parse(message)[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" :class="password_error ? 'is-invalid' : false" class="form-control" name="password" required autocomplete="current-password">

                                    <span v-if="password_error" class="invalid-feedback" role="alert">
                                        <strong>{{ JSON.parse(message)[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" id="remember" :checked="old_remember ? 'checked' : false">

                                        <label class="form-check-label" for="remember">
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>

                                    <a v-if="route_has" class="btn btn-link" :href="password_request">
                                        Forgot Your Password?
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "login",
        props: {
            route_login: {
                required: true
            },
            old_email: {
                required: true
            },
            old_remember: {
                required: true
            },
            route_has: {
                required: true
            },
            password_request: {
                required: true
            },
            email_error: {
                required: true
            },
            password_error: {
                required: true
            },
            message: {
                required: true
            }
        }
    }
</script>
