<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card material-shadow rounded-lg">
                    <div class="card-header">Register</div>

                    <div class="card-body">
                        <form method="POST" :action="route_register">
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                                <div class="col-md-6">
                                    <input id="name" type="text" :class="name_error ? 'is-invalid' : false" class="form-control" name="name" :value="old_name" required autocomplete="name" autofocus>

                                    <span v-if="name_error" class="invalid-feedback" role="alert">
                                        <strong>{{ JSON.parse(message)[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" :class="email_error ? 'is-invalid' : false" class="form-control" name="email" :value="old_email" required autocomplete="email">

                                    <span v-if="email_error" class="invalid-feedback" role="alert">
                                        <strong>{{ JSON.parse(message)[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" :class="password_error ? 'is-invalid' : false" class="form-control" name="password" required autocomplete="new-password">

                                    <span v-if="password_error" class="invalid-feedback" role="alert">
                                        <strong>{{ JSON.parse(message)[0] }}</strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                                <div class="col-md-6">
                                    <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password">
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "register",
        props: {
            route_register: {
                required: true
            },
            old_name: {
                required: true
            },
            name_error: {
                required: true
            },
            old_email: {
                required: true
            },
            message: {
                required: true
            },
            email_error: {
                required: true
            },
            password_error: {
                required: true
            }
        }
    }
</script>
